<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="index.css">
</head>

<body>
  <h1>HTML5 boilerplate</h1>
  <h3>{{ title }}</h3>
</body>
</html>
